html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Header */
.header {
  text-align: center;
  height: 10vh;
  background: #00BCD4;
  color: white;
  font-family: 'Lobster', cursive;
  box-shadow: 0 3px 4px rgba(145,145,145,0.3);
  position: relative;
}

.header h1 {
  margin-top: 0;
  padding-top: 2vh;
}

.header-icon {
  font-size: 28px;
  color: rgba(255,255,255,0.6)
}

.header-icon:hover {
  cursor: pointer;
  color: rgba(255,255,255,1)
}

.color-toggle {
  position: absolute;
  top: 30%;
  left: 25px;
}

.menu-toggle {
  position: absolute;
  top: 30%;
  right: 25px;
}

.toolbar {
  height: 10vh;
  align-items: center;
  justify-content: space-around;
  transition: all 0.3s ease-in-out 0s;
}

.toolbar b {
  font-family: 'Lobster', cursive;
  font-weight: lighter;
  font-size: 24px;
  color: #787979;
  margin-left: 10%;
}

.toolbar button {
  font-family: 'Lobster', cursive;
  color: #00BCD4;
  font-size: 16px;
  padding: 10px 30px;
  border: 2px solid #00BCD4;
  border-radius: 10px;
  box-shadow: 0px 1px 3px #AAB3BE;
  background: none;
}

.toolbar button:hover {
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  background: #00BCD4;
  color: white;
}

.toolbar button:active {
  box-shadow: none;
}

/* Orientation Toggle */
.toggle {
  display: inline-block;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 12px;
}
.toggle label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 2px;
  margin: 1em;
  width: 80px;
  height: 26px;
  border-radius: 50px;
}
.toggle label::before {
  display: block;
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  content: "";
  right: 1px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 32px;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}
.toggle label::after {
  display: block;
  position: absolute;
  top: -2px;
  bottom: 1px;
  left: -1px;
  content: "";
  width: 32px;
  height: 32px;
  background: #fff;
  border-radius: 100%;
  border: 1px solid #ccc;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
}
.toggle input[type='checkbox'] {
  margin: -9999px;
  visibility: hidden;
}
.toggle input[type='checkbox']:checked + label:before {
  background: #00BCD4;
}
.toggle input[type='checkbox']:checked + label:after {
  left: 50px;
}

/* Palette Styles */
.palette {
  height: 80vh;
}

.vertical {
  display: flex;
}

.vertical .palette-option {
  height: 100%;
  width: 20%;
  flex-direction: column;
}

.horizontal .palette-option {
  height: 20%;
}

.palette-option {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 28px;
}

.hexcode {
  -webkit-touch-callout: auto;
  -webkit-user-select: auto;
  -khtml-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.lock-icon {
  font-size: 32px;
}

.lock-icon:hover {
  cursor: pointer;
  color: #AAB3BE !important;
}

.locked {
  color: #44484C !important;
}

/* Color Picker */
.palette-icon {
  font-size: 34px;
}

.palette-icon:hover {
  cursor: pointer;
  color: #AAB3BE !important;
}

input[type="color" i] {
  display: none;
}

/* Footer Styles */
.footer {
  width: 100%;
  height: 10vh;
  background: #00BCD4;
  color: white;
  font-family: 'Comfortaa', cursive;
  box-shadow: 0 -3px 4px rgba(145,145,145,0.3);
}

.footer a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

#github-icon {
  font-size: 22px;
  margin: 0 4px 3px 0;
}

/* Media Queries */
@media (max-width: 769px) {
  .vertical .hexcode {
    display: none;
  }
  .vertical .palette-icon {
    display: none;
  }
}

@media (min-width: 400px) {
  .header h1 {
    font-size: 42px;
  }
  .menu-toggle {
    font-size: 38px;
    right: 40px;
  }
  .toolbar b {
    font-size: 28px
  }
  .footer p {
    margin-top: 4vh;
  }
}

/* Highlighting/Clicking fixes for mobile */
:focus {
  outline:none;
}
::-moz-focus-inner {
  border:0;
}

*::selection
{
    background-color:transparent;
}
*::-moz-selection
{
    background-color:transparent;
}
